.input-container {
    display: flex;
    justify-content: center;
    flex-direction: center;
    padding-bottom: 10px;
}

.regular-style {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    padding: 8px;
    margin: 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #f5f5f5;
    background: #f5f5f5;
    border-radius: 8px;
}

.input-error {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    padding: 8px;
    margin: 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #f5f5f5;
    color: darkred;
    background: #f5f5f5;
    border-radius: 8px;
}

.input-error::placeholder {
    color: darkred;
}

